.account-button {
  @apply transition-all duration-250 ease-out w-full flex items-center pl-4 relative;
  height: 56px;
  max-height: 56px;
  cursor: pointer;

  &__menu {
    @apply absolute;
    right: 16px;
  }

  &__text-container {
    @apply ml-4 flex flex-col justify-start;
    max-width: calc(100% - 32px - 64px); // icon width and margin for text
  }
}
